@model IEnumerable<ChatManager.Models.Chat>
@{
    ViewBag.Title = "UserList";
    var currentUser = ChatManager.Models.OnlineUsers.GetSessionUser();
    var friendships = ChatManager.Models.Friendships.ListFriend;
    var user = ChatManager.Models.DB.Users;
    var chat = ChatManager.Models.DB.Chat;
    DateTime previousTime = DateTime.MinValue;
    var login = ChatManager.Models.DB.Logins;

}

@if (Model != null)
{
    foreach (var item in Model)

    {

        if (item.EnvoyeurId != 0 || item.ReceveurId != 0)
        {
            <div class="userContainer" style="font-size:14px;">
                <a href="@Url.Action("EditUser","Accounts")" class="placeholder">
                    @Helper.AvatarProfilLink(user.FindUser(item.EnvoyeurId))
                </a>
                <div style="text-align:right">
                    <a href="@Url.Action("EditUser","Accounts")" class="placeholder">
                        @Helper.AvatarProfilLink(user.FindUser(item.ReceveurId))
                    </a>
                </div>
            </div>
            <div style="text-align:center">
                <div id="delete_@item.Id" class="DELETE_CHAT icon blue fa fa-times-circle" title="Effacer le chat"></div>
            </div>
            <div style="text-align:center">
                <div class="messageTime">
                    <div class="sent" title="@item.MessageDate.ToShortTimeString()" id="sent_@item.Id" utc="@item.MessageDate.ToFileTimeUtc()">
                        <span class="token">@Helper.ParseContent(@item.Message)</span>
                    </div>
                </div>
            </div>
        }
    }
}
